<div class="container">
    <div class="row">
        <div class="col-md-6 footer-about">
            <h4>about PIXELANT AB</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis no strud exercitation ullamco laboris nisi ut.</p>
            <a href="">Read more about us</a>
        </div>
        <div class="col-md-6 footer-contact">
            <h4>contact us</h4>
            <div class="row">
                <div class=" col-xs-4 col-md-4 ">
                    <p>Pixelant AB <br>Regementsgatan 8 <br>211 42 Malmö, <br>Sweden</p>
                </div>
                <div class="col-xs-2 col-md-2 ">
                    <div class="map">
                        <a class="icons icon-t3-map" href="#"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    {{> contact}}
                    {{> social}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-6 footer-quick-links">
            <h4>quick links</h4>
            <div class="row">
                <div class="col-md-6">
                    <ul class="nav">
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="siteMap.html">Site Map</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="nav">
                        <li><a href="isotope.html">isotope</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="tabs.html">Tabs</a></li>
                        <li><a href="forms.html">Forms</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 footer-subscribe">
            <h4>subscribe to newsletter </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod
tempor incididunt ut labore et dolore magna aliqua.</p>
            {{>newsletterSub}}
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-7 footer-copyright">
                <p>All rights reserved PIXELANT AB © 2014</p>
            </div>
            <div class="col-md-5 footer-bottom-nav">
                <ul class=" nav">
                    <li><a href="legalRights.html">Legal Rights</a></li>
                    <li><a href="termsOfUse.html">Terms of Use</a></li>
                    <li><a href="cookies.html">Cookies</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
