<div class="var">

<div class="checkbox">
    <label><input type="checkbox" value="">bla bla</label>
</div>

<input class="ttt" name="vars" type="text" placeholder="35px" data-bbb="@main-color" >

<div id="colorPicker" data-lessvar="@main-color"></div>
{{!-- <div id="colorPicker" data-lessvar="@main-body-bg"></div> --}}



</div>
