<div class="customizer js__customizer">
    <div class="customizer__header">
    </div>
    <div class="customizer__body">
        <div class="color-picker">
            <div class="color-picker__title"><span>Main-color</span><span class="js__color-picker__val color-picker__val _customizer-main-color" data-lessvar="@main-color" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Accent-color</span><span class="js__color-picker__val color-picker__val _customizer-accent-color" data-lessvar="@accent-color" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Grey-color</span><span class="js__color-picker__val color-picker__val _customizer-grey-color" data-lessvar="@grey-color" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Light-grey-color</span><span class="js__color-picker__val color-picker__val _customizer-light-grey-color" data-lessvar="@light-grey-color" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Deep-grey-color</span><span class="js__color-picker__val color-picker__val _customizer-deep-grey-color" data-lessvar="@deep-grey-color" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Main-body-bg</span><span class="js__color-picker__val color-picker__val _customizer-main-body-bg" data-lessvar="@main-body-bg" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Main-text-color</span><span class="js__color-picker__val color-picker__val _customizer-main-text-color" data-lessvar="@main-text-color" ></span></div>
        </div>
    </div>
    <div class="customizer__footer">
        <a href="" class="customizer__footer-btn btn btn-default" >Generate TYPO3 Theme config</a>
    </div>
    <div class="js__customizer__hide-btn customizer__hide-btn"></div>
</div>



{{!-- <div class="checkbox">
    <label><input type="checkbox" value="">bla bla</label>
</div>
 --}}
{{!-- <input class="ttt" name="vars" type="text" placeholder="35px" data-bbb="@main-color" > --}}

{{!-- <div id="colorPicker" data-lessvar="@main-body-bg"></div> --}}



{{!-- <div class="color-picker">
    <div id="colorPicker" class="color-picker__rrr" data-lessvar="@rrr"></div>
</div>
 --}}
