<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>All rights reserved PIXELANT AB © 2014</p>
            </div>
        </div>
    </div>
</div>
