<div class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer__about">
                <h4 class="footer__about-header">About</h4>
                <p class="footer__about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis no strud exercitation ullamco laboris nisi ut.</p>
                <a href="">Read more about us</a>
            </div>
            <div class="col-md-6 footer__contact">
                <h4 class="footer__contact-header">Contact us</h4>
                <div class="row">
                    <div class="col-xs-4 col-md-4 footer__contact-address">
                        <p>Pixelant AB<br>Regementsgatan 8<br>211 42 Malmö,<br>Sweden</p>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <div class="footer__contact-map">
                            <a class="icons icon-t3-map" href="#"></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <ul class="nav footer__contact-items">
                            <li>
                                <span class="icons icon-t3-mobile"></span>
                                <span>Call us on</span>
                                <a class="footer__contact-link" href="tel:+46-40-617-1230">tel:+46 (40) 617-1230</a>
                            </li>
                            <li>
                                <span class="icons icon-t3-mail"></span>
                                <span>EMAIL US AT</span>
                                <a class="footer__contact-link" href="#">info@info.se</a>
                            </li>
                        </ul>
                        {{>social}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 footer__copyright">
                <p class="footer__copyright-p">All rights reserved PIXELANT AB © 2015</p>
            </div>
        </div>
    </div>
</div>
