<div class="header-top ">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-xs-2 pull-left">
                {{> mainNavToggleButton}}
            </div>
            <div class="col-md-11 col-xs-10 header-meta-menu">
                {{ renderContent 'languageMenu'
                    languageMenuType="dropdown"
                    class=""
                }}
                {{!-- {{> searchToggleButton}} --}}
                {{ renderContent 'searchForm'
                    collapse="false"
                    class=""
                }}
                <ul class="nav" >
                    <li><a href="index.html">Home</a></li>
                    <li><a href="siteMap.html"> Sitemap</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>



<div class="header-middle">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    {{> logo}}
                    {{> social}}
            </div>
        </div>
    </div>
</div>

{{ renderContent 'extendedMainNav'
    searchForm="false"
    class=""
    toggleBtn="false"
}}

{{!-- {{ renderContent 'mainNavigation'
    dropdown="true"
    toggleBtn="false"
    searchForm="none"
    languageMenuType="none"
    class=""
}} --}}









