<div class="swiper-container js__swiper-carousel">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="images/logo-fireball.png"  alt="">
        </div>
        <div class="swiper-slide">
            <img src="images/logo-moonlight.png"  alt="">
        </div>
        <div class="swiper-slide">
            <img src="images/logo.png"  alt="">
        </div>
        <div class="swiper-slide">
            <img src="images/logo-save-the-nature.png"  alt="">
        </div>
        <div class="swiper-slide">
            <img src="images/logo-royal-trader.png"  alt="">
        </div>
    </div>
    <div class="js__swiper-carousel-next  swiper-button-next swiper-button-white"></div>
    <div class="js__swiper-carousel-prev  swiper-button-prev swiper-button-white"></div>
</div>

