<!doctype html>
<html lang="en">
    {{>head}}
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="pxa-header">
        {{>header}}
    </header>
    <div class="pxa-top-content100-content100">
        {{>body}}
    </div>
    <footer class="pxa-footer">
        {{>footer}}
    </footer>
    {{>scripts}}
</body>
</html>
