---
#layout: default.hbs # by default it is default.hbs, but you can specify another one
title: Image gallery #title in menu
number: 8 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
#subpages: false #(only for first-level pages)
parent: Typical page content #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{!-- HTML copied from TYPO3 site (http://core.testserver.pixelant.nu) --}}

<h2>Image gallery</h2>
<div class="image-center image-above"><div class="image-wrap"><div class="image-center-outer"><div class="image-center-inner"><div class="row image-group"><div class="col-sm-4"><figure class="image"><a href="images/fotoTemp1.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp1.jpg" width="193" height="109" class="" alt=""></a></figure></div>
<div class="col-sm-4"><figure class="image"><a href="images/fotoTemp2.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp2.jpg" width="194" height="94" class="" alt=""></a></figure></div>
<div class="col-sm-4"><figure class="image"><a href="images/fotoTemp3.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp3.jpg" width="193" height="129" class="" alt=""></a></figure></div></div>
<div class="row image-group"><div class="col-sm-4"><figure class="image"><a href="images/fotoTemp1.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp1.jpg" width="193" height="109" class="" alt=""></a></figure></div>
<div class="col-sm-4"><figure class="image"><a href="images/fotoTemp2.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp2.jpg" width="194" height="110" class="" alt=""></a></figure></div>
<div class="col-sm-4"><figure class="image"><a href="images/fotoTemp3.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp3.jpg" width="193" height="129" class="" alt=""></a></figure></div></div></div></div></div></div>
