<button type="button" class="navbar-toggle pxa-nav-toggle-button _animate-to-x_ js__pxa-nav-toggle-button collapsed {{class}}" data-toggle="collapse" data-target="#pxa-main-navbar-collapse">
    <span>toggle menu</span>
</button>
