<header><h2>Kontakta oss</h2></header>
<form class="form-horizontal mail-form-t3" role="form" action="contact/" enctype="multipart/form-data" method="post">
  <div>
    <div class="csc-form-2 csc-form-element csc-form-element-fieldset">
      <fieldset>
        <legend>Test</legend>
        <div>
          <div class="csc-form-3 csc-form-element csc-form-element-textline">
            <div class="form-group">
              <div class="col-sm-3 control-label">
                <label>Namn</label>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="text">
              </div>
            </div>
          </div>
          <div class="csc-form-4 csc-form-element csc-form-element-textline">
            <div class="form-group">
              <div class="col-sm-3 control-label">
                <label>E-post<span class="icon-t3-mandatory">*</span></label>
              </div>
              <div class="col-sm-9">
                <input class="form-control"  type="text">
              </div>
            </div>
          </div>
          <div class="csc-form-5 csc-form-element csc-form-element-textline">
            <div class="form-group">
              <div class="col-sm-3 control-label">
                <label>Telefonnummer<span class="icon-t3-mandatory">*</span></label>
              </div>
              <div class="col-sm-9">
                <input class="form-control"  type="text">
              </div>
            </div>
          </div>
          <div class="csc-form-6 csc-form-element csc-form-element-checkboxgroup">
            <fieldset class="fieldset-subgroup">
              <legend>Kontakta mig angående</legend>
              <div>
                <div class="csc-form-7 csc-form-element csc-form-element-checkbox">
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <div class="checkbox">
                        <div class="fix-label">
                            <input  type="checkbox" value="7">
                            <label>Ny TYPO3 installation</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="csc-form-8 csc-form-element csc-form-element-checkbox">
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <div class="checkbox">
                      <div class="fix-label">
                        <input  type="checkbox" value="8">
                        <label>Utbildning i TYPO3</label>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="csc-form-9 csc-form-element csc-form-element-checkbox">
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <div class="checkbox">
                      <div class="fix-label">
                        <input  type="checkbox" value="9">
                        <label>Ny modul till TYPO3</label>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="csc-form-10 csc-form-element csc-form-element-radiogroup">
            <fieldset class="fieldset-subgroup">
              <legend>Kontakta mig via:</legend>
              <div>
                <div class="csc-form-11 csc-form-element csc-form-element-radio">
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <div class="radio">
                      <div class="fix-label">
                        <input   type="radio" value="11">
                        <label>Telefon</label>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="csc-form-12 csc-form-element csc-form-element-radio">
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <div class="radio">
                      <div class="fix-label">
                        <input   type="radio" value="12">
                        <label>E-post</label>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="csc-form-13 csc-form-element csc-form-element-select">
            <div class="form-group">
              <div class="col-sm-3 control-label">
                <label>Jag är:</label>
              </div>
              <div class="col-sm-9">
                <select class="form-control"  >
                  <option value="14">Befintlig kund</option>
                  <option value="15">Ej kund</option>
                  <option value="16">Tttt </option>
                </select>
              </div>
            </div>
          </div>
          <div class="csc-form-17 csc-form-element csc-form-element-textarea">
            <div class="form-group">
              <div class="col-sm-3 control-label">
                <label>Meddelande</label>
              </div>
              <div class="col-sm-9">
                <textarea class="form-control" cols="40"   rows="5"></textarea>
              </div>
            </div>
          </div>
          <div class="csc-form-18 csc-form-element csc-form-element-submit">
            <div class="form-group mail-submit ">
              <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-default"   type="submit" value="Skicka">
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>
